* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

:root {
  --font: #190c39;
  --light: #ba9afd;
}

::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ba9afd; /* Set the color of the thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #190c39; /* Set the color of the track */
}

.main {
  position: relative;
  width: 100%;
  background-color: #f4eff5;
  font-family: gilroy;
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0vw 4vw;
}

nav {
  position: relative;
  width: 100%;
  padding: 2vw 0;
  display: flex;
  justify-content: space-between;
  color: var(--font);
}

nav > h1 {
  font-size: 2.2vw;
  font-weight: 800;
}

.nav-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.nav-right > h3 {
  font-weight: 600;
}

.nav-right button {
  padding: 0.5vw 1.4vw;
  border: none;
  background-color: var(--font);
  color: var(--light);
  font-size: 1.1vw;
  font-weight: 600;
  border-radius: 2vw;
}

.page1-hero {
  position: relative;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-between;
}

.page1-hero-left {
  position: relative;
  width: 48%;
  height: 100%;
  padding-left: 3vw;
  padding-top: 5vw;
}

.page1-hero-left > h1 {
  color: var(--font);
  font-size: 4vw;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  width: 80%;
}

.page1-hero-left > h1 > span {
  font-family: gilroy;
  font-weight: 600;
}

.page1-hero-left > p {
  font-size: 1.1vw;
  line-height: 1.3;
  width: 80%;
  opacity: 0.6;
  font-weight: 500;
  margin-top: 3.5vw;
}

.page1-btn {
  margin-top: 3vw;
  display: flex;
  gap: 1vw;
}

.page1-btn > button {
  background-color: var(--font);
  color: var(--light);
  padding: 0.7vw 1.8vw;
  font-size: 0.9vw;
  border-radius: 2vw;
  border: none;
  font-weight: 600;
}

.page1-btn > button:nth-child(2) {
  background-color: var(--light);
  color: var(--font);
}

.page1-hero-right {
  position: relative;
  width: 48%;
  height: 100%;
}

.page1-hero-right img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.scroller {
  margin-top: 2vw;
  display: flex;
  overflow-x: auto;
  position: relative;
  margin-bottom: 3vw;
}

.scroller::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  z-index: 9;
  background: linear-gradient(to left, transparent, #f4eff5 80%);
}

.scroller::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  z-index: 9;
  background: linear-gradient(to left, #f4eff5, transparent 80%);
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller-box {
  display: flex;
  /* gap: 2vw; */
  animation: scroller 50s linear infinite both;
}

.scroller-box > img {
  height: 2vw;
  filter: grayscale(1);
  margin-left: 3vw;
  transition: all ease 0.5s;
}

.scroller-box > img:hover {
  filter: grayscale(0);
}

@keyframes scroller {
  100% {
    transform: translate(calc(-100%));
  }
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 2vw 4vw;
  display: flex;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.page2-elem {
  height: 33%;
  width: 40%;
  background-color: rgba(243, 170, 128, 0.8);
  border-radius: 1vw;
  padding: 1vw 2vw;
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all ease 0.5s;
}

.page2-elem:hover {
  background-color: rgba(239, 180, 145, 0.832);
}

.page2-elem:nth-child(1) {
  height: 30%;
  background-color: transparent;
  position: relative;
}

.page2-elem:nth-child(1) > img {
  background-repeat: no-repeat;
  position: absolute;
  top: 40%;
  z-index: 0;
}

.page2-elem:nth-child(2) {
  height: 30%;
  background-color: transparent;
}

.page2-elem:nth-child(2) > p {
  font-size: 1.1vw;
  opacity: 0.6;
}

.page2-elem > h1 {
  color: var(--font);
  font-size: 2.5vw;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  position: relative;
  z-index: 9;
}

.page2-elem > h1 > span {
  font-family: gilroy;
  font-weight: 600;
}

.page2-elem > h1 > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
}

.page2-elem-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.page2-elem-title > img {
  height: 5vw;
}

.page2-elem-title > h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

.page2-elem > p {
  font-size: 0.95vw;
  margin-top: 1vw;
}

.page2-elem > h3 {
  margin-top: 1vw;
}

.page3 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--font);
  border-radius: 1vw;
  overflow-x: hidden;
}

.page3-top {
  display: flex;
  padding: 4vw;
  justify-content: center;
  gap: 1vw;
  height: 40vh;
}

.page3-elem {
  height: 100%;
  width: 40%;
  border-radius: 1vw;
  padding: 1vw 2vw;
  color: #ba9afd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all ease 0.5s;
  position: relative;
}

.page3-elem > h1 {
  color: var(--light);
  font-size: 2.5vw;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  position: relative;
  z-index: 9;
}

.page3-elem > p {
  color: #fff;
}

.page3-elem:nth-child(1) > img {
  background-repeat: no-repeat;
  position: absolute;
  top: 60%;
  width: 40%;
  z-index: 0;
}

.page2-elem:nth-child(2) {
  height: 30%;
  background-color: transparent;
}

.page2-elem:nth-child(2) > p {
  font-size: 1.1vw;
  opacity: 0.6;
}

.page3-elem > h1 > span {
  font-family: gilroy;
  font-weight: 600;
}

.page3-btn > button {
  padding: 0.6vw 1.4vw;
  border: none;
  background-color: var(--light);
  color: var(--font);
  font-size: 1vw;
  font-weight: 600;
  border-radius: 2vw;
}

.swiper {
  height: 80vh;
  width: 100vw;
  padding-left: 4vw;
  padding-bottom: 4vw;
}

.swiper-slide {
  font-size: 18px;
  border-radius: 1vw;
  background: #fff;
  padding: 3vw;
  display: flex;
  /* justify-content: center; */
  align-items: end;
  overflow: hidden;
}

.swiper-elem {
  /* height: 25vh; */
  width: 30vw;
  border-radius: 1vw;
  background-color: #f2bd9e;
  padding: 1.5vw;
  display: flex;
  gap: 1.5vw;
  flex-direction: column;
  justify-content: space-between;
  color: #190c39;
  position: relative;
  z-index: 9;
  transition: all ease 0.5s;
}

.swiper-elem:hover {
  background-color: var(--light);
}

.swiper-elem > div > h3 {
  font-weight: 500;
  font-size: 0.8vw;
  padding: 0.3vw;
  border-radius: 0.4vw;
  border: 1px solid #190c39;
  display: inline;
}

.swiper-elem > p {
  font-family: "Times New Roman", Times, serif;
  font-size: 2vw;
  /* margin-top: 2vw; */
  font-weight: 500;
  /* width: 90%; */
  line-height: 1;
}

.swiper-elem > h1 {
  font-size: 1vw;
  /* margin-top: 1vw; */
}

.swiper-slide img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page4 {
  position: relative;
  height: 90vh;
  width: 100%;
}

.page4-top {
  display: flex;
  padding: 4vw;
  justify-content: center;
  gap: 1vw;
  height: 40vh;
}

.page4-elem {
  height: 100%;
  width: 40%;
  border-radius: 1vw;
  padding: 1vw 2vw;
  color: var(--font);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all ease 0.5s;
  position: relative;
}

.page4-elem > h1 {
  color: var(--font);
  font-size: 2.5vw;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  position: relative;
  z-index: 9;
}

.page4-elem > p {
  color: #fff;
}

.page4-elem:nth-child(1) > img {
  background-repeat: no-repeat;
  position: absolute;
  top: 60%;
  width: 40%;
  z-index: 0;
}

.page4-elem:nth-child(2) > p {
  font-size: 1.1vw;
  color: #00000093;
}

.page4-elem > h1 > span {
  font-family: gilroy;
  font-weight: 600;
}

.page4-btn {
  display: flex;
  gap: 1vw;
}

.page4-btn > button {
  padding: 0.6vw 1.4vw;
  border: none;
  background-color: var(--light);
  color: var(--font);
  font-size: 1vw;
  font-weight: 600;
  border-radius: 2vw;
}

.page4-btn > button:nth-child(1) {
  background-color: var(--font);
  color: var(--light);
}

.page4-dets {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4vw 9vw;
}

.page4-dets-elem {
  position: relative;
  width: 30%;
  border-right: 1px solid #190c39;
  padding: 0 2vw;
}

.page4-dets-elem:nth-child(3) {
  border: none;
}

.page4-dets-elem > h1 {
  font-size: 2vw;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

.page4-dets-elem > p {
  margin-top: 1.5vw;
  font-size: 0.9vw;
  opacity: 0.7;
}

.page5 {
  position: relative;
  height: 70vh;
  width: 100%;
}

.page5 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}

.page6 {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw 0;
}

.page6-box {
  position: relative;
  height: 100%;
  width: 70%;
  border-radius: 1vw;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page6-box > h1 {
  color: var(--font);
  font-size: 3vw;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

.page6-box > h1 > span {
  font-family: gilroy;
  font-weight: 600;
}

.page6-box > p {
  margin-top: 2vw;
  font-size: 0.9vw;
  line-height: 1.3;
}

.page6-btn {
  margin-top: 2vw;
  display: flex;
  gap: 1vw;
}

.page6-btn > button {
  background-color: var(--font);
  color: var(--light);
  padding: 0.7vw 1.8vw;
  font-size: 0.9vw;
  border-radius: 2vw;
  border: none;
  font-weight: 600;
}

.page6-btn > button:nth-child(2) {
  background-color: var(--light);
  color: var(--font);
  border: 1px solid var(--font);
}

footer {
  position: relative;
  height: 10vh;
  width: 100%;
  background-color: var(--font);
  display: flex;
  justify-content: center;
}

.footer-box {
  position: relative;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
}

.footer-left {
  display: flex;
  gap: 1.5vw;
}

footer h3 {
  font-weight: 500;
  font-size: 0.8vw;
}
